@font-face {
    font-family: inter;
    src: url(fonts/Inter-Regular.ttf) format('truetype');
}

/* Default styles */
body {
    margin: 0;
    padding: 0;
    font-family: inter;
    max-width: 1440px;
    margin: 0 auto;
}

/* main nav startv here  */
nav {
    width: 100%;
    max-width: 1102px;
    margin: 0 auto;
    padding: 5px;
    box-sizing: border-box;
    float: right;
    height: 78px;

    background-color: #0F141F;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: initial;
}

nav li {
    padding-right: 23px;
}

nav li:last-child {
    padding-right: 0px;
}

nav li a {
    /* Paragraph/Body 4 */
    text-decoration: none;
    font-family: 'inter';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    /* identical to box height */
    color: #97A4C1;
    /* Inside auto layout */
    flex: none;
    order: 3;
    flex-grow: 0;
}

nav li a:hover {
    padding: 12px;
    background: #2E3A54;
    border-radius: 12px;
    color: #ddd;
}

/* Google Fonts Import Link */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

/* *{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
} */
.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 248px;
    background: #11101d;
    z-index: 100;
    transition: all 0.5s ease;
}

.sidebar .nav-links {
    height: 100%;
    padding: 30px 0 150px 0;
    overflow: auto;
}

.sidebar.close .nav-links {
    overflow: visible;
}

.sidebar .nav-links::-webkit-scrollbar {
    display: none;
}

.sidebar .nav-links li {
    position: relative;
    list-style: none;
    transition: all 0.4s ease;
    background: #2E3A54;
    border-radius: 12px;
    margin-bottom: 10px;
    /* width: 216px; */
    /* height: 56px; */
}

.sidebar .nav-links li:hover {
    /* background: #1d1b31; */
}

.sidebar .nav-links li .iocn-link img {
    width: 26px;
    padding: 13px;
}

.sidebar .nav-links li .iocn-link {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.sidebar.close .nav-links li .iocn-link {
    display: block
}

.sidebar .nav-links li i {
    height: 50px;
    min-width: 78px;
    text-align: center;
    line-height: 50px;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.sidebar .nav-links li.showMenu i.arrow {
    transform: rotate(-180deg);
}

.sidebar.close .nav-links i.arrow {
    display: none;
}

.sidebar .nav-links li a {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.sidebar .nav-links li a .link_name {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 130%;
    /* or 18px */


    /* Text/Color 5 */

    color: #F0F2F7;

    transition: all 0.4s ease;
}

.sidebar.close .nav-links li a .link_name {
    opacity: 0;
    pointer-events: none;
}

.sidebar .nav-links li .sub-menu .subMenuWrap .subMenuImg {
    position: absolute;
}

.sidebar .nav-links li .sub-menu .subMenuWrap .subMenuImg img {
    width: 3px;
    margin-right: 163px;
    height: 298px;
    position: relative;
    margin-top: -117px;
}

.sidebar .nav-links li .sub-menu .subMenuWrap {

    margin-top: 22px;
    display: flex;
    justify-content: right;
    align-items: center;
    margin-right: 25px;

}

.sidebar .nav-links li .sub-menu .imgLi img {
    padding: 7px;
}

.sidebar .nav-links li .sub-menu .imgLi {
    display: flex;
    /* margin-top: -6px; */
    justify-content: center;
    align-items: baseline;
}

.sidebar .nav-links li .sub-menu p {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 15px;
    color: #6D7DA0;
    margin-top: 0px;
    padding: 0px 10px;
}

.sidebar .nav-links li .sub-menu {
    padding: 6px 6px 14px 80px;
    margin-top: -10px;
    background: #0F141F;
    display: none;
}

.sidebar .nav-links li.showMenu .sub-menu {
    display: block;
}

.sidebar .nav-links li .sub-menu a {
    color: #fff;
    font-size: 15px;
    padding: 10px 10px;
    white-space: nowrap;
    opacity: 0.6;
    transition: all 0.3s ease;
}

/* .sidebar .nav-links li .sub-menu a:hover {
    opacity: 1;
} */

.sidebar.close .nav-links li .sub-menu {
    position: absolute;
    left: 100%;
    top: -10px;
    margin-top: 0;
    padding: 10px 20px;
    border-radius: 0 6px 6px 0;
    opacity: 0;
    display: block;
    pointer-events: none;
    transition: 0s;
}

.sidebar.close .nav-links li:hover .sub-menu {
    top: 0;
    opacity: 1;
    pointer-events: auto;
    transition: all 0.4s ease;
}

.sidebar .nav-links li .sub-menu .link_name {
    display: none;
}



.sidebar.close .nav-links li .sub-menu .link_name {
    font-size: 18px;
    opacity: 1;
    display: block;
}

.sidebar .nav-links li .sub-menu.blank {
    opacity: 1;
    pointer-events: auto;
    padding: 3px 20px 6px 16px;
    opacity: 0;
    pointer-events: none;
}

.sidebar .nav-links li:hover .sub-menu.blank {
    top: 50%;
    transform: translateY(-50%);
}

@media (max-width: 400px) {
    .sidebar.close .nav-links li .sub-menu {
        display: none;
    }

    .sidebar {
        width: 78px;
    }

    .sidebar.close {
        width: 0;
    }

}

/* Aside sidebar menu start  */
.sidebar {
    background-color: #0F141F;
    width: 248px;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    transition: all 0.5s ease;
}



.menuTop span {
    max-width: 70%;
    gap: 12px;
    padding: 10px;
    justify-content: start;
    display: flex;
    align-items: center;
    background: radial-gradient(75.47% 75.47% at 50% 0%, #598BFC 0%, #1A55DB 100%);
    border-radius: 12px;
    margin: 0 auto;
}

.menuTop h4 {
    text-align: start;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: rgba(192, 209, 252, 0.66);
    padding: 0px 19px;
}

.menuTop span img {
    width: 30px;
}

.menuTop span li {
    list-style-type: none;
}

.menuTop span li a {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 130%;
    color: #FFFFFF;
    text-decoration: none;
}

.menuTop h1 {
    padding: 0px 19px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 21px;
    line-height: 25px;

    color: #FFFFFF;
}







/* first section style start here  */
.firstSection {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container {
    background-color: #F4F8FF;
    width: 100%;
    max-width: 1100px;
    margin: 0 auto;
    padding: 5px;
    box-sizing: border-box;
    float: right;

}

.firstSection img {
    margin-right: 32px;
    width: 20px;

}

.firstSection h2 {
    margin-left: 32px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    color: #0F141F;
}

.product {    
    grid-gap: 19px  0px;
    display: grid;
    grid-template-columns: repeat(4, 4fr);

    /* grid-gap: 5px; */
}

.product .col {
    height: 145px;
    width: 267px;
    text-align: center;
}

.col1 {
    background: #FFFFFF;
    border: 1px solid #D8E2FA;
    border-radius: 12px;
    background-image: url("image/Group.png");
    background-size: cover;
}

.product .col .productTop {
    padding: 8px 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.product .col .productTop img {
    width: 47px;
    border-radius: 100%;
    background: #2C64E4;
}

.product .col .productTop p {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 138.02%;
    color: #393939;
}

.product .col .productBottom {
    padding: 6px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.product .col .productBottom h3{
    text-align: left;
    width: 167px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 130%;
    color: #373B45;
}
.product .col .productBottom p{
    width: 87px;
font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 10px;
line-height: 16px;
text-align: right;
color: #393939;
}
.secondContainer{
    font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 24px;
text-align: center;
color: #596B8D;
}
#container { 
    width: 100%; height: 100%; margin: 0; padding: 0; 
  } 
  
.lastContent{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
}
.chartRight{
    width: 743px;
}
.history{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.history span{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.history h5{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    color: #0F141F;
    width: 168px;
}
.history p{
    padding-right: 5px;
    width: 72px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    color: #393939;
}
.history img{
border-radius: 3px;
}
/*=============================== Media query start here for  Responsive Template ================================================= */

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

}


/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
 
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
 

   

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    /* .container {
        max-width: 749px;
    } */
 
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
 
   
}